<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="service">maui-service</Property>
		<Property name="log.dir">logs</Property>
		<Property name="archive.dir">${log.dir}/archives</Property>
		<Property name="archive.date">%d{yyyy-MM-dd-HH}</Property>
		<Property name="pattern">%d %5p %c{-1} [%t] %m%n</Property>
		<Property name="cron.everymidnight">0 0 0 * * ?</Property>
		<Property name="cron.every6hours">0 0 */6 * * ?</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}"/>
		</Console>
		<RollingFile name="Main" fileName="${log.dir}/${service}-app.log"
					 filePattern="${archive.dir}/${archive.date}-%i-${service}-main.log.zip">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<CronTriggeringPolicy schedule="${cron.every6hours}"/>
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="20" fileIndex="max"/>
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
				<RegexFilter regex=".*Exception.*" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</RollingFile>
		<RollingFile name="Error" fileName="${log.dir}/${service}-error.log"
					 filePattern="${archive.dir}/errors/${archive.date}-%i-${service}-error.log.zip">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<CronTriggeringPolicy schedule="${cron.every6hours}"/>
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="20" fileIndex="max"/>
			<Filters>
				<RegexFilter regex=".*Exception.*" useRawMsg="true" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
				<ThresholdFilter level="ERROR" onMatch="NEUTRAL" onMismatch="DENY"/>
			</Filters>
		</RollingFile>
		<RollingFile name="Champ" fileName="${log.dir}/${service}-champ.log"
					 filePattern="${archive.dir}/${archive.date}-%i-${service}-spring.log.zip">
			<PatternLayout pattern="${pattern}"/>
			<Policies>
				<CronTriggeringPolicy schedule="${cron.every6hours}"/>
				<OnStartupTriggeringPolicy/>
			</Policies>
			<DefaultRolloverStrategy max="20" fileIndex="max"/>
			<Filters>
				<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
				<RegexFilter regex=".*Exception.*" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="c2" level="INFO" additivity="false">
			<AppenderRef ref="Champ"/>
			<AppenderRef ref="Console" level="DEBUG"/>
			<AppenderRef ref="Error"/>
		</Logger>
		<Logger name="aero.champ" level="INFO" additivity="false">
			<AppenderRef ref="Champ"/>
			<AppenderRef ref="Console" level="DEBUG"/>
			<AppenderRef ref="Error"/>
		</Logger>
		<Root level="INFO">
			<AppenderRef ref="Main"/>
			<AppenderRef ref="Console" level="DEBUG"/>
			<AppenderRef ref="Error"/>
		</Root>
	</Loggers>

</Configuration>
